/* Media Query for medium screens */
@media only screen and (min-width: 32.5em) {
  .navigation {
      display: flex;
  }

  .navigation li:first-child {
      display: none;
  }

  .navigation li {
      display: block;
      flex: 1 1 100%;
  }

  .header-img {
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      height: auto;
  }

  .navigation {
      text-transform: capitalize;
  }
  
  #forecast{
    display:block;
  }

  /* Gallery Page */
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}