:root {
  /* Fonts */
  --heading-font: "Anton", sans-serif;
  --footer-font: "Fira Sans", Lato, Helvetica, sans-serif;
  --paragraph-font: "Fira Sans", Lato, Helvetica, sans-serif;

  /* Colors */
  --paragraph-color: #007980;
  --heading-color: #e87c27;
  --backgound-color: rgb(49, 50, 58);
  --accent-color: #39ffa4;
  --backgound-rgb-color: 49, 50, 58;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  text-align: center;
  padding-bottom: 0.2em;
}
body {
  background-image: url("/cit230/lesson10/images/image-backgroud.jpeg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  min-width: 300px;
}

.hidden {
  display: none;
}

#pancake {
  background-color: var(--accent-color);
  padding: 1px;
  text-align: center;
  border: none;
  color: var(--paragraph-color);
  font-size: 1em;
  font-weight: 700;
}

/* Storm Center Page */
form {
  max-width: 760px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(var(--backgound-rgb-color), 0.2);
}

label {
  display: inline-block;
  min-width: 120px;
}

form div {
  margin-bottom: 5px;
}

form > p {
  font-weight: 800;
}

#tksPage p {
  margin: auto 2em;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: 800;
}

form > input,
#goBackBtn {
  display: inline;
  margin: auto 20px;
  padding: 20px;
  color: var(--heading-color);
  background-color: var(--backgound-color);
}

.form-heading {
  margin-bottom: 0;
  background-color: rgba(var(--backgound-rgb-color), 0.7);
}

.flex {
  display: flex;
}

.nomargin {
  margin: 3px;
}

#align-top {
  vertical-align: top;
}

.flexly {
  display: flex;
  align-items: center;
}

#ratingvalue {
  margin: 0 15px;
}

#rating {
  margin-left: 60px;
}

/* Header */
header img {
  display: block;
  max-width: 500px;
  height: auto;
  margin: 0.6em auto;
  padding: 0 0.9em;
}

/* Nav */
nav {
  margin: 0 auto;
  /* max-width: 100%; */
  background-color: #31323a;
}

header div img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.navigation {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
  /* align-self: center; */
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: var(--heading-color);
}

.navigation li:hover {
  color: #31323a;
  background-color: white;
  font-weight: 700;
}

.responsive li {
  display: block;
}

.active {
  background-color: var(--accent-color);
  color: black;
  font-weight: 700;
}
/* Main  */
.hero {
  max-height: 215px;
}

.hero-image {
  width: 100%;
}

.hero-text {
  display: inline-block;
  margin: 0em;
  padding: 0.2em;
  text-align: left;
  position: relative;
  top: -72px;
  left: 110px;
  width: 200px;
  transform: translate(-50%, -50%);
  color: var(--paragraph-color);
  border: black 0.25em dotted;
  background-color: rgba(247, 247, 247, 0.8);
}

.hero-text > p {
  margin: 0;
  padding: 0.2em;
  border: none;
}

#forecast {
  display: none;
}

section {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  max-width: 760px;
}

main div p {
  border: 1px black double;
  margin: 5px;
  padding: 10px;
}

article > img {
  width: 80%;
}

#contact-info {
  background-color: rgba(247, 247, 247, 0.8);
}

#contact-info a {
  margin: 1em;
  text-decoration: none;
  color: black;
}

/* Main Home Page */
.homeGrid {
  display: grid;
  gap: 0.5em;
  text-align: center;
  background-color: rgba(var(--backgound-rgb-color), 0.8);
}

.homeGrid figure {
  padding: 0.5em 0 0 0;
  border: var(--paragraph-color) 0.5em double;
  background-color: rgba(var(--backgound-rgb-color), 0.7);
}

.homeGrid p {
  margin: 0 0;
  line-height: 1.5em;
  /* text-align: left; */
}

.homeGrid img {
  vertical-align: bottom;
  max-width: 100%;
}

.homeGrid h2 {
  font-size: 2em;
}

.homeGrid h3 {
  color: black;
  font-size: 0.8em;
  min-height: 3em;
  font-family: var(--paragraph-font);
}

section table, 

/* Main Gallery Page */
#gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

section figure {
  max-width: none;
  margin: 0px;
  padding: 0px;
}

section figure img {
  width: 100%;
  filter: blur(0em);
  transition: filter 0.5s;
}

#gallery figcaption {
  display: none;
}

section figure img[data-src] {
  filter: blur(0.2em);
}

/* Main Events */
#eventsPreston p:first-child, #eventsSodaSprings p:first-child, #eventsFishHaven p:first-child {
text-align: center;
background-color: var(--accent-color);
border: 10px solid var(--backgound-color);
font-size: 19pt;
color: var(--paragraph-color)
}

#eventsPreston p, #eventsSodaSprings p, #eventsFishHaven p {
  text-align: center;
  background-color: rgba(var(--backgound-rgb-color), 0.8);
  border: 5px solid var(--backgound-color);
  font-size: 15pt;
  color: white;
  }

/* Footer */
footer {
  background-color: var(--backgound-color);
  text-align: center;
  padding: 0.5em;
  color: #ffffff;
  text-shadow: -1px 0 #007980, 0 1px #007980, 1px 0 #007980, 0 -1px #007980;
}
